.page {
  position: fixed;
  /* 기준이 되는 조상 페이지 */
  margin-top: 0rem;
  /* 위 간격 */
  max-width: 500px;
  /* 좌우 간격 */
  min-height: 600px;
  max-height: 600px;
  /* min/max-height = 크기고정 */

  left: 50%;
  transform: translate(-50%, 25%);
  /* 중앙고정 */

  background-color: #ffffff;
  border: 2px solid;
  border-radius: 1.8rem;
  border-color: #85afe1;
  /* 페이지 디자인 */
}

.titleWrap2 {
  margin: -30% -2.5%;
  position: absolute;
  width: 100%;
  top: 3rem;
  font-size: 1rem;
  text-align: center;
  height: 300px;
}

.titleWrap3 {
  margin-left: 6%;
  display: flex;
  flex-wrap: wrap; /* 추가 */
  justify-content: center;
  margin-top: -25%;
  margin-left: -10px;

  position: absolute;
  width: 100%;
  top: 3rem;
  font-size: 1rem;
  text-align: center;
  height: 2px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
}

.button-img {
  width: 70%;
  height: auto;
  object-fit: contain; /* modify object-fit to contain */
}

.button-text {
  font-size: 15px;
  margin-top: 1px;
  text-align: center;
  height: 40px; /* Add a fixed height value */
}

.button {
  width: calc(
    33.33% - 20px
  ); /* change width to fit 3 columns with 20px margin between buttons */
  height: 130px;
  padding: 0;
  border: none;
  outline: none;
  transition: all 0.15s ease-in-out;
  margin: 30% 10px 38.9%; /* add margin-bottom for spacing between rows */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hashtagWrap {
  position: flex;
  margin-left: 30px;
  max-width: 430px;
  min-height: 459px;
  max-height: 250px;
  overflow-y: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0px;
}

.hashtagWrap::before,
.hashtagWrap::after {
  content: "";
  flex-basis: 100%;
  width: 0;
  height: calc(
    (300px - 70px) / 2
  ); /* 수정: max-height 값을 300px로 변경합니다. */
}

.button2 {
  padding: 0;
  border: none;
  outline: none;
  transition: all 0.15s ease-in-out;
  margin: 0; /* 수정: 불필요한 마진을 제거합니다. */
  display: flex;
  justify-content: flex-start;
  z-index: 1;
}

.tag-button {
  display: inline-block;
  margin-bottom: 5px;
  margin-right: 2%;
  margin-top: 10px;
  line-height: 28px;
  max-height: 28px;
  padding: 0 13px;
  border-radius: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  transition: all 0.15s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 120px;
}

.button-box {
  box-sizing: border-box;
}

.buttonWrap {
  display: flex;
  justify-content: center;
}

.button:hover {
  transform: scale(0.95);
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}
.button-pressed {
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  transform: scale(0.95);
}

.button-text2 {
  height: 4rem;
}

.flex-container {
  justify-content: center;
  display: flex;
  margin: 0px;
  margin-left: 85px;
  width: 300px;
  font-size: 20px;
}

.flex-container.wrap {
  flex-wrap: wrap;
}

/* tag */

.tagWrap {
  margin-left: 1%;
  display: flex;
  flex-wrap: wrap; /* 추가 */
  justify-content: left;
  margin-top: 5%;
}

.tag-button:hover {
  transform: scale(0.95);
  /* border: 1px solid #aaa; */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
}

.tag-button:active {
  transform: scale(0.95);
  box-shadow: none;
}

.tag-button-pressed {
  background-color: #85afe1; /* 누른뒤 색 */
  border: 1px solid #aaa; /* 이게 누른뒤 버튼 보더 색 */
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  transform: scale(0.95);
}

.tag-button:focus {
  outline: none;
}

.tag-button-wrap {
  width: 130px;
  height: 100px;
  margin: 2% 2% -1.25%;
  box-sizing: content-box;
}
